body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/* Workaround for an issue in ReactSVG (https://github.com/atomic-app/react-svg/issues/24) that was causing the div wrapper to be taller than it shoild be. */
div {
  line-height: 0;
	align-self: center;
}
